$white: #ffffff;
$purple: #b4a9ff;
$violet: #6a5dc2;
$blue: #67a5eb;
$dark-blue: #275e9d;
$pink: #dc5dfc;
$red: #c82020;
$light-red: #ff7575;
$green: #308e21;
$gold: #a59400;
$light-grey: #777777;
$grey: #393b3c;
$dark-grey: #282828;
$black: #000000;
