@use "../../styles/variables" as *;

.genres {
  width: 100%;
}

.genres__container {
  padding-top: 64px;
  padding-bottom: 160px;
}

.genres__title {
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
  color: $white;
}

.genres__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 290px);
  justify-content: space-evenly;
  column-gap: 40px;
  row-gap: 64px;
}

@media (max-width: 768px) {
  .genres__list {
    gap: 24px;
  }
}

@media (max-width: 670px) {
  .genres__container {
    padding-top: 16px;
    padding-bottom: 40px;
  }

  .genres__title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 133%;
  }

  .genres__list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
